{% extends "structure.html" %}

{% block head %}<title>Dashboard</title>{% endblock %}

{% block body %}
    <h1>This is dashboard page</h1>
    <br>
    <form action="/dashboard" method="post">
        <input type="text" name="post" placeholder="Post Here" class="post">
        <br>
        <button type="submit" class="but btn btn-primary">Post</button>
    </form>
        <ul>
        {% for t in table %}
        <hr>
            <form action="/delete" method="post">
                <h4>{{t[2]}}</h4>
                <p>Post from "{{t[5]}}" on {{t[3]}}</p>
                
                <input type="hidden" value="{{ t[0] }}" name="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        {% endfor %}
        </ul>
    </table>
{% endblock %}