{% extends "structure.html" %}

{% block head %}<title>Dashboard</title>{% endblock %}

{% block body %}
    <h1>This is dashboard page</h1>
    <table>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
        </tr>
        {% for t in table %}
            <tr>
                <td>{{ t[0] }}</td>
                <td>{{ t[1] }}</td>
                <td>{{ t[2] }}</td>
                <td>{{ t[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="/logout">Log Out</a>
{% endblock %}