{% extends "structure.html" %}

{% block head %}<title>Register</title>{% endblock %}

{% block body %}
    
    <h1>Sign Up</h1>
    <br><br>
    <form action='/register', method='post'>
        <input type="username", name="username", placeholder="username" class="username">
        <br>
        <input type="email", name="email", placeholder="email" class="email">
        <br>
        <input type="password" name="password" placeholder="Password" class="password">
        <br>
        <input type="number" name="age" placeholder="Age" class="age">
        <br>
        <button type="submit" class="but btn btn-success">Sign Up</button>
    </form>
    <br>
    <p>{{message}}</p>
    <p>Already have account? <a href="/login"> Log In</a></p>

{% endblock %}